body {
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#note-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#writing-btn {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: grey;
    border: 2px solid black;
    color: white;
    cursor: pointer;
}

#reading-btn {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: purple;
    border: 2px solid black;
    color: white;
    cursor: pointer;
}