body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

#updated-time{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 14px;
}

#notes-container {
    margin-top: 40px;
}

.note-box {
    background-color: #4b73c2;
    color: white;
    padding: 20px;
    width: 300px;
    border: 2px solid #2c4f99;
    font-size: 16px;
    margin-bottom: 20px;


    overflow-wrap: break-word;
}

#back-btn {
    margin-top: 10px;
    padding: 10px 25px;
    background-color: orangered;
    border: 2px solid black;
    color: white;
    cursor: pointer;
}
